## Assignment 2: Lists, Loops, Functions and DataFrames

This assignment is split into 3 levels. To pass the assignment, you need to complete level 1 adequately. To get a higher grade, you will need to adequately complete more levels. You don't have to complete a level to attempt the next level.

Please remember to always comment your code, so we can understand your thought process. Some assignments will require you to also submit some written text explaining your reasoning and methods. (This assignment is just coding though!)

- Level 1 correctly completed, grade: 6
- Level 2 correctly completed, grade: 7 - 8
- Level 3 correctly completed, grade: 9 - 10

## Level 1

In the cell below, write code that does the following:

- Define a new list containing your favourite 5 colours as strings
- Delete your least favourite colour of the 5
- Loop through the colour list, and print each colour
- Retrieve your most favourite colour by using it's index, and save it in a new variable

In [ ]:
# your code goes here:

In the cell below, do the following:

- Load the pandas module
- Load the spearheads.csv file from the data folder, save it as a DataFrame
- Calculate and display the sum of the 'weight' column
- Find out the number of rows in the DataFrame, then divide the sum of weight by the number of rows to manually calculate the average weight
- Get and display the mean of 'maxle', grouped by 'mat'
- Display all rows where 'cond' is 2

In [ ]:
# your code goes here:

## Level 2

Write a function that accepts the name of a time period (a string) as parameter, and uses the defined dictionary `time_periods` to look up the associated start and end date. Then the function should print a sentence saying something like "The {time period} is defined as the period {start and end year}"

(Hint: you can put a variable in the square brackets after a dictionary to get the value, so like `time_periods[variable_name]`)

In [ ]:
# define time periods dict
time_periods = {
    "stone age" : "1,000,000 BCE - 2000 BCE",
    "bronze age" : "2000 BCE - 800 BCE",
    "iron age" : "800 BCE - 13 BCE",
    "roman period" : "13 BCE - 450 CE",
    "middle ages" : "450 CE - 1500 CE",
}

# your code goes here:

In the cell below, do the following:

- Using the spearheads dataset you loaded in the previous level, change the values in the 'cond' column from 1, 2, 3 and 4 to 'Excellent', 'Good', 'Fair' and 'Poor' respectively
- Using the [.str.lower()](https://datatofish.com/lowercase-pandas-dataframe/) function, change the category names in the 'cond' column to lowercase
- Delete all rows where 'maxle' is empty
- Change the values in the 'mat' column from 1 and 2 to 'Bronze' and 'Iron' respectively
- Make a cross-tabulation table (using `groupby`) showing the counts of spearheads over the 'mat' and 'cond' columns. Write a comment at the end of your code explaining how you could interpret this table archaeologically.

In [ ]:
# your code goes here:

## Level 3

In this level, you will have to search for certain Python methods and functions to be able to complete some of the the assignments. Try and formulate a search query that clearly describes the task you are trying to complete, and check e.g. Stackoverflow answers and online tutorials for answers. You can copy code from other people on the internet (but not from other students!), as long as you understand what it does and test it works.

In the cell below, loop through the `artefact_weights` dictionary. For each artefact category, calculate the average weight and display it together with the category name. Round the averages to 2 decimal points.

In [ ]:
# define list
artefact_weights = {
    'flint' : [34, 52.3, 23, 34.89, 54, 67],
    'pottery' : [39.3, 34, 93, 23.76, 67.23, 42],
    'glass' : [93, 94.2, 102.56, 39, 19, 32, 81],
    'metal' : [154.50, 49, 20.45]
}

# your code goes here:

In the cell below, write a function that takes a list of strings, and returns the longest string. Test it by calling the function with `sites` as the parameter and printing the output.

In [ ]:
# define list of sites
sites = ['Ur', 'Stonehenge', 'Teotihuac√°n', 'Giza']

# your code goes here:

In the cell below, do the following:

- Load the pottery.csv file from the data folder into a DataFrame
- Calculate the Correlation between the columns 'height', 'opening_diam', and 'base_diam'
- Make a comment in your code stating which combination of variables has the highest correlation, and why you think that is
- Get all unique values in the 'shape_class' column (so all the possible options) and save this as a list. Sort the list alphabetically, then loop through it and print all options one by one
- Find out which shape_class has the highest average height
- For bonus points: find out how you can get the Correlation between 'shape_class', and all other numerical columns. Which numerical column has the highest correlation with shape_class?

In [21]:
# your code goes here:
import pandas as pd
pottery = pd.read_csv('../data/pottery.csv', delimiter=',')

In [22]:
pottery

,vessel_id,shape_class,rim_orient,rim_profile,base_type,additional_elem,height,opening_diam,base_diam,neck_diam,belly_diam,neck_height,belly_height,H-Bd,Bd-Rd,Bd-Nd,H-Bh,H-Nh,Bd-BaD
0,JZ001_P001,N,B,9,2,N,6.90,4.8,0.8,3.84,6.67,5.88,2.95,1.03,1.39,1.74,2.34,1.17,8.34
1,JZ001_P003,N,B,9,2,N,12.10,9.3,2.2,8.14,12.12,10.48,6.00,1.00,1.30,1.49,2.02,1.15,5.51
2,JZ001_P004,C,A,3,4,N,7.40,17.0,4.5,17.00,17.00,7.40,7.40,0.44,1.00,1.00,1.00,1.00,3.78
3,JZ001_P005,E,B,1,4,N,6.35,12.3,5.6,12.30,12.30,6.35,6.35,0.52,1.00,1.00,1.00,1.00,2.20
4,JZ001_P008,K,B,13,4,S,9.60,5.4,2.2,3.18,8.58,7.69,4.15,1.12,1.59,2.70,2.31,1.25,3.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,JZ007_P029,K,B,3,2,N,15.50,11.0,NaN,8.79,18.75,13.21,7.24,0.83,1.70,2.13,2.14,1.17,NaN
492,JZ007_P030,K,B,3,2,N,14.50,12.5,NaN,9.78,17.88,12.43,6.65,0.81,1.43,1.83,2.18,1.17,NaN
493,JZ007_P047,E,C,7,4,N,5.00,13.3,3.5,13.30,13.90,5.00,3.80,0.36,1.05,1.05,1.32,1.00,3.97
494,JZ007_P062,C,A,7,4,N,4.80,15.9,5.0,15.90,15.90,4.80,4.80,0.30,1.00,1.00,1.00,1.00,3.18
495,JZ007_P065,K,B,3,2,N,10.50,6.0,NaN,7.30,15.43,8.84,4.74,0.68,2.57,2.11,2.22,1.19,NaN

In [24]:
pottery.groupby('shape_class')["height"].mean()

shape_class
C     4.530000
E     6.866209
G     8.248958
H    31.415000
K    12.318182
N    27.897059
P    19.811364
R    29.325000
T    10.833333
Name: height, dtype: float64